<%- include('pre_header') -%>

  <title>Profile</title>

  <%- include('post_header') -%>

  <header>
    <h1>Profile Page</h1>
  </header>
  <main>
    <h3>Hello <%= _fullName %> </h3>
    <p> ID: <%= _user.id %> </p>
    <p> Username: <%= _user.username %> </p>
    <p> More: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil molestiae esse minima odio omnis minus deserunt asperiores aliquid autem mollitia optio perferendis laudantium nobis tenetur, eveniet, consequatur fugit dolor ullam.</p>
  </main>